
<% include __header %>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card text-white bg-danger stats">
    <div class="card-header">
      Collection
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm col-lg-7">
          <h6>Returns: </h6>
          <h2><%= parcel.returns%></h2>
        </div>
        <div class="col-sm">
        <a href="#" class="btn btn-lg btn-primary"> View</a>
        </div>
      </div>
    </div>
      </div>
    </div>


    <div class="col-sm ">
      <div class="card bg-warning text-white stats">
        <div class="card-header">
          In-Stock
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm col-lg-7">
              <h6>Parcel on storage: </h6>
              <h2><%=parcel.on_site%></h2>
            </div>
            <div class="col-sm">
              <a href="#" class="btn btn-lg btn-primary"> View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- Parcel on queque-->
    <div class="col-sm cube">
      <div class="card bg-info text-white stats">
        <div class="card-header">
          Delivery Queque
        </div>
        <div class="card-body">
         <div class="row">
          <div class="col-sm col-lg-6">
              <h6>Parcel on route: </h6>
              <h2><%= parcel.on_route%></h2>
          </div>
            <div class="col-sm">
            <a href="#" class="btn btn-lg btn-primary"> View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Table -->
<div class="container">
<div class="row">
  <div class="col-sm">
  <div class="container table-view table-responsive overflow-auto">
    <h2> Active Vendors </h2>
    <table id="activeVendors" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">code</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0 ; i < vendor_list.length; i++) {%>
        <tr>
        <td><%= vendor_list[i].code %></td>
        <td><%= vendor_list[i].name %></td>
        <td><%= vendor_list[i].address %> </td>
        <td><a class="btn btn-primary text-white btn-sm" > Manage </td>
        </tr>

      <% } %>
    </tbody>
  </table>
  </div>
</div>
<div class="col-sm">
<div class="container table-view table-responsive">
    <h2> Active Areas </h2>
    <table id="activeArea"class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="">Area Type</th>
        <th scope="col">Area</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% for (x = 0; x< area.length; x++) { %>
        <tr>
          <%if(area[x].type == 1) {%>
            <td scope="col">Metro</td>
          <%}%>
          <% if (area[x].type == 2){%>
            <td scope="col">South</td>
          <%}%>
          <td><%= area[x].areaName %></td>
          <td><a class="btn btn-primary text-white btn-sm" > Manage </td>
        </tr>

      <%  } %>
    </tbody>
  </table>
  </div>
  </div>
</div>
</div>

<script>
$(document).ready(function () {
$('#activeVendors').DataTable();
$('#activeArea').DataTable();
// $('.dataTables_length').addClass('bs-select');

});
</script>
<% include __footer %>