<% include __header%>

<div class="container-fluid view_parcel"> 
    <h2 id="page_heading"class="text-center">Parcel Views</h2>
    <div class="container">
    <div class="table-responsive">
        <a class="btn btn-success text-white float-left" data-toggle="modal" data-target="#exampleModal">Add Parcel</a>
        <br>
        <br>
        <table id="active_parcel" class="table table-bordered table-stripped">
            <thead>
                <tr>
                
                <th>WayBill</th>
                <th>Recipient</th>
                <th>Address</th>
                <th>Area</th>
                <th>Size</th>
                <th>vendor</th>
                <th>Status</th>
                <th>Edit</th>
                
                </tr>
            </thead>    
            <tbody>
                <% for (var i = 0 ; i < parcels.length; i++) {%>
                    <tr>
                        
                        <td><%= parcels[i].wayBill %></td>
                        <td><%= parcels[i].recipient%></td>
                        <td><%= parcels[i].address%></td>
                        <td><%= parcels[i].areaName%></td>
                        <td><%= parcels[i].size%></td>
                        <td><%= parcels[i].vendorCode%></td>
                        <% if( parcels[i].status == 1){ %>
                            <td class="text-warning">On site</td>
                        <%} else if(parcels[i].status == 2) {%>
                            <td class="text-info">Dispatch</td>
                        <%} else if(parcels[i].status == 3) {%>
                            <td>Delivered</td>
                        <%} else if(parcels[i].status == 4) {%>
                            <td class="text-danger"> RETURNED </td>

                        <%}%>
                       <td><a class="btn-sm text-white btn-success" href="/ops/manage/<%=parcels[i].wayBill%>">Edit</a></td>



                       
                        

                    </tr>
                <% } %> 
            </tbody>
        </table>
    </div>  
    <br>
    <br>
    <a class="btn btn-warning text-white float-left" data-toggle="modal" data-target="#exportModal">Dispatch Parcel</a>

    <a class="btn btn-info text-white float-right" data-toggle="modal" data-target="#deliverModal">Delivered Parcel</a>
    </div>


</div>
    <!-- Modal -->
<% include modal/__addParcel_modal %>
<!-- Export Parcel Modal -->
<% include modal/__exports_modal %>
<!-- Deliver Checkout -->
<% include modal/__deliver_modal %>

<script>
$(document).ready(function () {
$('#active_parcel').DataTable();
// $('.dataTables_length').addClass('bs-select');

});
</script>
<% include __footer %>